<section id="about">
  <h2 class="title">About Our Team!</h2>


  <button {{action "shuffle"}}>Shuffle</button>
  {{#liquid-bind photos as |photosVersion|}}
    {{#each photosVersion key="id" as |photo|}}
      <div class="about-image">
        <img data-photo-id={{photo.id}} src={{{photo.url}}}>
      </div>
    {{/each}}
  {{/liquid-bind}}
</section>