<div id="home" {{action "toggleHome"}}>

  {{#liquid-if showingHome}}

    <h3>Home Page</h3>
    <p >This is an app about explode. Show more details????</p>

  {{else}}

    <h3>Here are some details about explode!</h3>
    <p> Lots of itty bitty nitty gritty details. Lots of itty bitty nitty gritty details. Lots of itty bitty nitty gritty details. Lots of itty bitty nitty gritty details. Lots of itty bitty nitty gritty details. Lots of itty bitty nitty gritty details. Lots of itty bitty nitty gritty details. Lots of itty bitty nitty gritty details. Lots of itty bitty nitty gritty details. Lots of itty bitty nitty gritty details.</p>
    <div class="image-wrap">
      <img src="assets/images/tim-and-eric-brain-explosion-gif.gif">
    </div>
    
  {{/liquid-if}}

  <h3>This content down here is doesn't change</h3>
  <p> It is outside of the liquid if.</p>
  <p>Fashion axe Marfa mlkshk leggings. Selvage chillwave dreamcatcher aesthetic, semiotics paleo bicycle rights craft beer vinyl deep v cold-pressed church-key readymade. Banh mi pork belly freegan art party Tumblr mustache post-ironic. </p>

  <p>Vinyl tilde cronut photo booth American Apparel keffiyeh. Kitsch readymade next level migas, cold-pressed farm-to-table Tumblr chillwave art party. Listicle hashtag bespoke, ugh semiotics selfies banh mi Neutra mumblecore sriracha lumbersexual brunch beard XOXO kitsch. Retro PBR&B bicycle rights actually Tumblr cardigan, meh wolf viral Truffaut put a bird on it. Blue Bottle Etsy four loko, whatever chia kale chips cred. Shabby chic skateboard polaroid, banh mi pour-over tilde pop-up freegan beard meh ennui disrupt. Austin drinking vinegar yr 8-bit XOXO, cray direct trade mixtape keytar American Apparel blog.</p>
</div>